# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

!amdin/
/SASS/
archive/*
# !archive/deprecated/
# !archive/legacy/

# Log files
*.log

# htaccess
/.htaccess

# scss
/*.scss

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes